<!-- views/home.handlebars -->

<!-- Include the main layout -->
{{> layouts/main}}

<!-- Set the title of the page -->
{{#set 'title'}}Home{{/set}}

<!-- Begin the content section -->
{{#content 'body'}}
  <div class="container">
    <h2>Welcome to the Tech Blog</h2>
    
    <!-- Check if there are any blog posts to display -->
    {{#if posts}}
      <ul class="post-list">
        {{#each posts}}
          <li class="post-item">
            <h3>{{title}}</h3>
            <p>{{formatDate createdAt}}</p>
            <p>{{truncateText content 200}}</p>
            <a href="/post/{{id}}">Read More</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p>No blog posts found.</p>
    {{/if}}
  </div>
{{/content}}
