
  <div class="container">
    <h2>{{post.title}}</h2>
    <p>Author: {{post.author}}</p>
    <p>Date: {{formatDate post.createdAt}}</p>
    <p>{{post.content}}</p>

    <hr>

    <h3>Comments</h3>
    {{#if comments}}
      {{#each comments}}
        <div class="comment">
          <p>{{this.username}} - {{formatDate this.createdAt}}</p>
          <p>{{this.comment}}</p>
        </div>
      {{/each}}
    {{else}}
      <p>No comments yet.</p>
    {{/if}}

    {{#if authenticated}}
      <hr>

      <h3>Add a Comment</h3>
      <form action="/comment/{{post.id}}" method="POST">
        <div class="form-group">
          <textarea name="comment" id="comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    {{/if}}
  </div>

